.agency-info-card {
    margin-top: 20px;
  }
  
  .agency-info-header {
    display: flex;
  }
  
  .agency-logo img {
    width: 100px;
    height: auto;
    margin-right: 20px;
  }
  
  .agency-details h3 {
    margin: 0;
  }
  
  .agency-contact {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  